<?php $this->Html->addCrumb('Checkins', "/checkIns"); ?>
<?php $this->Html->addCrumb("Not", "/checkIns/not"); ?>
<a class="button small success right" href="/checkIns">View Checkins</a><br>
<br><br>

<?php echo $this->element('Tickets', array('tickets' => $tickets)); ?>
