<?php $this->Html->addCrumb('Tickets', '/tickets'); ?>
<br>
<a class="button small right" href="/tickets/add">New Ticket</a>
<b>Total: </b> <?php echo $count; ?><br>
<b>Net Sales: </b> $<?php echo $sales; ?><br><br>

<?php echo $this->element('Tickets', array('tickets' => $tickets)); ?>