@import "settings";
@import "foundation";
@import "foundation-datepicker";
@import "font-awesome/font-awesome";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);


@font-face {
    font-family: 'BebasNeueBook';
    src: url(../fonts/BebasNeueBook.woff);
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url(../fonts/BebasNeueRegular.woff);
}


body {
    padding-top: 10px;
    background: url(../img/twinkle_twinkle.png);
}

table {
    width: 100% !important;
    overflow-x: scroll;
    overflow-y: scroll;
}

#container {
    background-color: white;   
    border: 1px;
    border-radius: 7px;
    margin-bottom: 75px;
}

td { cursor: pointer; }
tr:hover { background-color: #eee !important; }

.desc:after {
    font-family: "FontAwesome";
    margin-left: 7px;
    content: "\f0dd";
}

.asc:after {
    font-family: "FontAwesome";
    margin-left: 7px;
    content: "\f0de";
    
}

.border-right {
    border-right: 1px solid #dfdfdf; 
}

.border-left {
    border-left: 1px solid #dfdfdf; 
}

.logo {
    width: 150px;   
}

#content {
    padding: 3rem;   
    padding-top: 15px;
}

@media only screen and (max-width: 40em) { 
    #content {
        padding: 15px;   
        padding-top: 10px;
    }
}

#content h1 {
    font-size: 3rem;
    text-align: center;
    font-family: 'BebasNeueBook';
    color: #838383;
    letter-spacing: 0.1rem;
}

#content h1, h2, h3, h4 {
    font-family: 'BebasNeueBook';
    color: #868686;
    letter-spacing: 0.1rem;
}

.no-margin {
    margin: 0 !important;   
}

.white {
    color: white;   
}

.cake-sql-log {
    margin-top: 500px;
}



.table-container {
    overflow-x: scroll;
    overflow-x: scroll;
}

.btn-height {
    height: 44px !important;   
}

.box {
    background-color: #eee;
    padding-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 30px;
    padding-top: 20px;
//    color: #c8c8c8;
    color: white;
}

.box b:first-child {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: white;
}

.color-primary {
    background-color: #5C85C8;
}

.color-primary:hover {
    background-color: #6a99e6;
}

.color-secondary {
    background-color: #5074AE;
}

.color-secondary:hover {
    background-color: #5e88cd;
}

.color-tertiary {
    background-color: #3F5B88;
}

.color-quart {
    background-color: #33496d;
}

.padding-left {
    padding-left: 5px;   
}
.padding-right {
    padding-right: 5px;   
}

.minimal {
    background: none !important;
    border:none;
    border-collapse: collapse !important;
}

.minimal th {
    color: white !important; 
}

.minimal td, .minimal th, .minimal tr, .minimal thead{
    color: white ;
    background: none !important;
    border: none;
    cursor: default !important; 
}

.minimal td:hover, .minimal th:hover, .minimal tr:hover {
    background: none !important; 
}

.minimal thead {
    border-bottom: 0.12rem solid white !important;     
}

.grey {
    color: #868686 !important;
}


canvas {
    width: 100%;
    height: auto;
}

.sales-btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-right: 15px;
    color: #c6c6c6;
    font-size: 0.65rem;
}

.active {
    font-weight: 600;
    color: white;
    font-size: 0.9rem;
}

.sales-btn-container {
    padding-top: 5px;
    border-bottom: 0.12rem solid #fff; 
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h3 span {
  font-size: 1rem;
}

.bold {
  font-weight: 600 !important;
}

.bold td {
  font-weight: 600 !important;
}


.border-bottom {
  border-bottom: 2px solid #5e5e5e !important;
  background-color: #eee !important;
}

